<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="dsbuff.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <dsbuff.Properties.Settings>
            <setting name="forcelogo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pointer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checksum" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="unitcode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="headersize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tooltips" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="status" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="dsbdir" serializeAs="String">
                <value>C:\dsbuff\</value>
            </setting>
            <setting name="curdir" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="alwaystext" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="version" serializeAs="String">
                <value>v1 Final</value>
            </setting>
            <setting name="drive" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="temparg" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="crashme" serializeAs="String">
                <value>True</value>
            </setting>
        </dsbuff.Properties.Settings>
    </userSettings>
</configuration>